.light {
  background-color: #fbfaf8;
}

.dark {
  background-color: #3f2b22;
}

.down-grey {
  background-color: #191919;
}

/*.color25 {*/
  //color: #252525;
/*}*/

.triangle {
  border-bottom: 50px solid transparent;
  border-top: 50px solid blue;
  border-right: 50px solid blue;
  border-left: 50px solid blue;

}

.last-pict {
  background-image: url(../images/photoForLogos.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 490px
}
