.light {
  background-color: #fbfaf8;
}

.dark {
  background-color: #3f2b22;
}

.down-grey {
  background-color: #191919;
}

.dark-brown {
  background-color: #362f2d;
}

/*.color25 {*/
  //color: #252525;
/*}*/

.triangle:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  //border-bottom: 50px solid #fbfaf8;
  border: 50px solid;
  border-top: blue;
/*  border-right: 50px solid blue;*/
  /*border-left: 50px solid blue;*/

}

.last-pict {
  background-image: url(../images/photoForLogos.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 490px
}
