.fild30 {
  margin: 30px 0 0 0;
}

.fild100 {
  margin: 100px 0 0 0;
}

.filds54 {
  padding: 54px 0 54px 0;
}

.fild0 {
  padding: 0;
}

.fild120 {
  padding: 0 0 120px 0;
}

.fild216 {
  padding: 216px 0 0 0;
}

.fild80 {
  padding: 80px 0 0 0;
}

.fild40 {
  padding: 40px 0 0 0;
}

.fild195 {
  padding: 195px 0 0 0;
}

.fild70 {
  padding: 80px 0 0 0;
}

.fild50 {
  padding-bottom: 50px;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
