.font22 {
  font-size: 22px;
}

.font14 {
  font-size: 14px;
}

.font36 {
  font-size: 36px;
}

.font52 {
  font-size: 52px;
}

.font16 {
  font-size: 16px;
}

.font30 {
  font-size: 30px;
}

.font18 {
  font-size: 18px;
}

.font28 {
  font-size: 28px;
}

.font48 {
  font-size: 48px;
}

.font24 {
  font-size: 24px;
}

.font12 {
  font-size: 12px;
}

.font-light {
  color: #8c8c8c;
}

.font-dark {
  color: #555555;
}

.font-verydark {
  color: #363636;
}

.font-white {
  color: white;
}

.font-sand {
  color: #c7b299;
}

//.font-grey {
  //color: #959595 !important;
/*}*/
