.logos {
  position: absolute;
  left: 376px;
  top: 40px;
  width: 64px;
  height: 56px;
  z-index: 446;
}

.bag {
  position: absolute;
  right: 15em;
  top: 40px;
  width: 64px;
  height: 56px;
  z-index: 446;
}

.search {
  position: absolute;
  right: 10em;
  top: 40px;
  width: 64px;
  height: 56px;
  z-index: 446;
}
