.logo {
  position: absolute;
  left: 376px;
  top: 40px;
  width: 64px;
  height: 56px;
}

.logo-bottom {
  position: absolute;
  /*  left: 376px;*/
  /*top: 40px;*/
  width: 64px;
  height: 56px;
}

.bag {
  position: absolute;
  right: 15em;
  top: 50px;
  width: 32px;
  height: 28px;
  z-index: 446;
}

.search {
  position: absolute;
  right: 10em;
  top: 50px;
  width: 32px;
  height: 28px;
  z-index: 446;
}

.video {
  width: 100%;
  height: 100%;
}

.logos {
  margin: auto;
}
